h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
}
input {
  width: 100%;
}
.items-container {
  text-align: left;
}
.kg-button {
  min-width: 100px;
}
.kg-row {
  margin: 10px 5px;
}
.Head {
  font-weight: 800;
  text-shadow: 2px 2px 8px #d63333;
}
